{% extends 'base.html'%}
{% load django_bootstrap5 %}

{% block content%}
  <br>
  <h1>
    {% if not form.instance.pk%}
    Create New Record
    {% else %}
    Update Record
    {% endif %}
  </h1>

  <form method="POST" id="InsertRecordForm"  data-regions-url="{% url 'database:ajax_load_regions' %}"
    data-acts-url="{% url 'database:ajax_load_acts' %}" data-actspecs-url="{% url 'database:ajax_load_actspecs' %}">
    {% csrf_token %}
    {% bootstrap_form form %}

    <input type="submit" value="Submit" class="btn btn-primary btn-lg" id="PostButton">

  </form>
  <br>

{% endblock %}
