
{% extends "base.html" %}

{% block content %}
  {% if messages %}
      {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
  {% endif %}


<div class="jumbotron">

  <div class="flex-container">


    <div class="ButtonContainer">
          {% for i in target_document_keys%}
              <div class="StatButtonDiv">
                  <a class="btn btn btn-outline-dark btn-lg StatButton" href="#" role="button"><strong>Show {{i}} statistics</strong></a>
              </div>
          {% endfor %}
    </div>

    <div class="GraphContainer">

    </div>

  </div>

</div>

</div>


{% endblock %}
