
/* #ProjectField{
  background-color:red;
} */

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.AnalysisButton{

  font-size:1.8rem;
  display: flex;
  justify-content: center;

}

.StatButton{
  padding: 12px;
  text-align: center;
  font-size: 14;
  width: 100%;
  border: 2px solid;

}

.StatButtonDiv{
   margin:2px;
   width: 100%;
}

.ButtonContainer{
  width: 30%;
}

.GraphContainer{

  border-radius: .4rem;
  width: 70%;
  margin-left: 10px;
}

.flex-container{
  display: flex;
}

.FilterFormContainer{
  width: 20%;
}

.filter-form-wrapper{
  overflow-y: auto;
  max-height: 80vh;
}

.ExportDataFormContainer{
  width: 80%;
  margin-left: 5px;
}

.table-responsive{
  overflow-y: : auto;
  max-height: 80vh;
}

.datepicker{
  width: 100%;
}

.filter-form-field{
  width: 100%;
}

.filter-btn{
  width: 100%;
  margin-bottom: 5px;
}

.export-btn{
  margin-top: 1px;
  width: 100%;
}

.GraphContainer h3{
  text-align: center;
}
