{% extends 'base.html' %}


{% block content %}
  <br>
  <br>
  <div class="AnalysisOptionsDiv jumbotron container">
    <br>
    <a class="btn btn-primary btn-lg AnalysisButton" href="{%url 'analyze:calculate_power_prob'%}">Calculate Power Prob</a>
    <br>
    <a class="btn btn-primary btn-lg AnalysisButton" href="#">Calculate Roc Curves</a>
    <br>
    <a class="btn btn-primary btn-lg AnalysisButton" href="#">Visualize Power Prob</a>
    <br>
    <a class="btn btn-primary btn-lg AnalysisButton" href="#">Visualize Spectrogram</a>
    <br>


  </div>

{% endblock %}
